USE [master]
GO
/****** Object:  Database [CMS]    Script Date: 9/5/2026 4:31:49 PM ******/
CREATE DATABASE [CMS]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CMS', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\CMS.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CMS_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\CMS_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CMS].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CMS]
GO
/****** Object:  Table [dbo].[Appointments]    Script Date: 9/5/2026 4:31:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Appointments](
	[AppointmentID] [int] IDENTITY(1,1) NOT NULL,
	[DoctorID] [int] NOT NULL,
	[PatientID] [int] NOT NULL,
	[AppointmentTypeID] [int] NOT NULL,
	[AppointmentStatus] [tinyint] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[LastStatusDate] [datetime] NOT NULL,
	[AppointmentDate] [datetime] NOT NULL,
	[AppointmentFees] [smallmoney] NOT NULL,
	[CreatedByUserID] [int] NOT NULL,
 CONSTRAINT [PK__Appointm__8ECDFCA224E3492B] PRIMARY KEY CLUSTERED 
(
	[AppointmentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AppointmentTypes]    Script Date: 9/5/2026 4:31:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AppointmentTypes](
	[AppointmentTypeID] [int] IDENTITY(1,1) NOT NULL,
	[AppointmentTypeTitle] [nvarchar](300) NOT NULL,
	[AppointmentTypeFees] [smallmoney] NOT NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK__Appointm__E258530B192736DF] PRIMARY KEY CLUSTERED 
(
	[AppointmentTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Patients]    Script Date: 9/5/2026 4:31:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Patients](
	[PatientID] [int] IDENTITY(1,1) NOT NULL,
	[BloodType] [nvarchar](20) NULL,
	[PersonID] [int] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[CreatedByUserID] [int] NOT NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK__Patients__970EC346C748545F] PRIMARY KEY CLUSTERED 
(
	[PatientID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Doctors]    Script Date: 9/5/2026 4:31:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Doctors](
	[DoctorID] [int] IDENTITY(1,1) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[PersonID] [int] NOT NULL,
	[SpecialtyID] [int] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[CreatedByUserID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[DoctorID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[People]    Script Date: 9/5/2026 4:31:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[People](
	[PersonID] [int] IDENTITY(1,1) NOT NULL,
	[NationalNo] [nvarchar](50) NOT NULL,
	[FirstName] [nvarchar](50) NOT NULL,
	[SecondName] [nvarchar](50) NOT NULL,
	[ThirdName] [nvarchar](50) NOT NULL,
	[LastName] [nvarchar](50) NOT NULL,
	[DateOfBirth] [datetime] NOT NULL,
	[Gender] [tinyint] NOT NULL,
	[Phone] [nvarchar](20) NOT NULL,
	[NationalityCountryID] [int] NOT NULL,
	[Address] [nvarchar](300) NOT NULL,
	[ImagePath] [nvarchar](250) NULL,
 CONSTRAINT [PK_People_PersonID] PRIMARY KEY CLUSTERED 
(
	[PersonID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[Appointments_View]    Script Date: 9/5/2026 4:31:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[Appointments_View] as
SELECT dbo.Appointments.AppointmentID, DocPeople.FirstName+' '+ DocPeople.SecondName+' '+ DocPeople.ThirdName+' '+ DocPeople.LastName as DoctorName, PatPeople.FirstName+' '+ PatPeople.SecondName+' '+ PatPeople.ThirdName+' '+ PatPeople.LastName as PatientName, dbo.AppointmentTypes.AppointmentTypeTitle, dbo.AppointmentTypes.AppointmentTypeFees, dbo.Appointments.CreatedDate, 
             dbo.Appointments.AppointmentDate, dbo.Appointments.LastStatusDate,
             case 
             when Appointments.AppointmentStatus=1 then 'Pending'
             when Appointments.AppointmentStatus=2 then 'Completed'
             when Appointments.AppointmentStatus=3 then 'Cancelled'
             when Appointments.AppointmentStatus=4 then 'Not Attended'
             else 'UnKnown' End as Status

FROM   dbo.Appointments 
             INNER JOIN dbo.AppointmentTypes ON dbo.Appointments.AppointmentTypeID = dbo.AppointmentTypes.AppointmentTypeID 
             INNER JOIN dbo.Doctors ON dbo.Appointments.DoctorID = dbo.Doctors.DoctorID 
             INNER JOIN dbo.People DocPeople ON dbo.Doctors.PersonID = DocPeople.PersonID 
             Inner Join dbo.Patients ON dbo.Appointments.PatientID = dbo.Patients.PatientID 
             INNER JOIN dbo.People PatPeople ON dbo.Patients.PersonID = PatPeople.PersonID 
GO
/****** Object:  Table [dbo].[Consultations]    Script Date: 9/5/2026 4:31:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Consultations](
	[ConsultationID] [int] IDENTITY(1,1) NOT NULL,
	[AppointmentID] [int] NOT NULL,
	[ConsultationDate] [datetime] NOT NULL,
	[AdditionalFees] [smallmoney] NOT NULL,
	[Notes] [nvarchar](250) NULL,
	[Diagnosis] [nvarchar](500) NULL,
	[CreatedByUserID] [int] NOT NULL,
 CONSTRAINT [PK__Consulta__5D014A780023336A] PRIMARY KEY CLUSTERED 
(
	[ConsultationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[Consultation_View]    Script Date: 9/5/2026 4:31:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[Consultation_View]
AS
SELECT dbo.Consultations.ConsultationID, dbo.Appointments.AppointmentID, DocPeople.FirstName + ' ' + DocPeople.SecondName + ' ' + DocPeople.ThirdName + ' ' + DocPeople.LastName AS DoctorName, 
             PatPeople.FirstName + ' ' + PatPeople.SecondName + ' ' + PatPeople.ThirdName + ' ' + PatPeople.LastName AS PatientName, dbo.AppointmentTypes.AppointmentTypeTitle, dbo.Consultations.ConsultationDate, dbo.Consultations.Notes, dbo.Consultations.Diagnosis, 
             dbo.Consultations.AdditionalFees
FROM   dbo.Appointments INNER JOIN
             dbo.Consultations ON dbo.Appointments.AppointmentID = dbo.Consultations.AppointmentID INNER JOIN
             dbo.Doctors ON dbo.Appointments.DoctorID = dbo.Doctors.DoctorID INNER JOIN
             dbo.People AS DocPeople ON DocPeople.PersonID = dbo.Doctors.PersonID INNER JOIN
             dbo.Patients ON dbo.Appointments.PatientID = dbo.Patients.PatientID INNER JOIN
             dbo.People AS PatPeople ON PatPeople.PersonID = dbo.Patients.PersonID INNER JOIN
             dbo.AppointmentTypes ON dbo.Appointments.AppointmentTypeID = dbo.AppointmentTypes.AppointmentTypeID
GO
/****** Object:  Table [dbo].[Countries]    Script Date: 9/5/2026 4:31:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Countries](
	[CountryID] [int] IDENTITY(1,1) NOT NULL,
	[CountryName] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK__Countrie__10D160BF3CC0F796] PRIMARY KEY CLUSTERED 
(
	[CountryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DoctorSalaries]    Script Date: 9/5/2026 4:31:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DoctorSalaries](
	[SalaryID] [int] IDENTITY(1,1) NOT NULL,
	[DoctorID] [int] NOT NULL,
	[Salary] [money] NOT NULL,
	[StartDate] [datetime] NOT NULL,
	[EndDate] [datetime] NULL,
	[CreatedDate] [datetime] NOT NULL,
	[CreatedByUserID] [int] NOT NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK__DoctorSa__4BE204B7BD37AD20] PRIMARY KEY CLUSTERED 
(
	[SalaryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Medicines]    Script Date: 9/5/2026 4:31:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Medicines](
	[MedicineID] [int] IDENTITY(1,1) NOT NULL,
	[MedicineName] [nvarchar](200) NOT NULL,
	[MedicineFees] [smallmoney] NOT NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK__Medicine__4F2128F09772E65E] PRIMARY KEY CLUSTERED 
(
	[MedicineID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PrescriptionItems]    Script Date: 9/5/2026 4:31:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PrescriptionItems](
	[PrescriptionItemID] [int] IDENTITY(1,1) NOT NULL,
	[ConsultationID] [int] NOT NULL,
	[MedicineID] [int] NOT NULL,
	[Duration] [tinyint] NULL,
	[DurationUnit] [nvarchar](50) NULL,
	[Dosage] [nvarchar](100) NULL,
	[PaidFees] [smallmoney] NOT NULL,
	[SpecialInstructions] [nvarchar](300) NULL,
	[CreatedByUserID] [int] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK__Prescrip__1AADD9DA12580BF9] PRIMARY KEY CLUSTERED 
(
	[PrescriptionItemID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Specialties]    Script Date: 9/5/2026 4:31:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Specialties](
	[SpecialtyID] [int] IDENTITY(1,1) NOT NULL,
	[SpecialtyName] [nvarchar](200) NOT NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK__Specialt__D768F648FD051F78] PRIMARY KEY CLUSTERED 
(
	[SpecialtyID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 9/5/2026 4:31:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[Password] [nvarchar](65) NOT NULL,
	[UserName] [nvarchar](50) NOT NULL,
	[PersonID] [int] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[CreatedByUserID] [int] NOT NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_Users_UserID] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Appointments] ON 

INSERT [dbo].[Appointments] ([AppointmentID], [DoctorID], [PatientID], [AppointmentTypeID], [AppointmentStatus], [CreatedDate], [LastStatusDate], [AppointmentDate], [AppointmentFees], [CreatedByUserID]) VALUES (1, 3, 2, 9, 4, CAST(N'2026-08-11T02:02:34.497' AS DateTime), CAST(N'2026-08-11T02:02:34.280' AS DateTime), CAST(N'2026-08-12T09:30:00.000' AS DateTime), 4.0000, 1)
INSERT [dbo].[Appointments] ([AppointmentID], [DoctorID], [PatientID], [AppointmentTypeID], [AppointmentStatus], [CreatedDate], [LastStatusDate], [AppointmentDate], [AppointmentFees], [CreatedByUserID]) VALUES (2, 3, 1, 11, 4, CAST(N'2026-08-11T02:26:35.580' AS DateTime), CAST(N'2026-08-11T02:27:10.277' AS DateTime), CAST(N'2026-08-12T09:00:00.000' AS DateTime), 50.0000, 1)
INSERT [dbo].[Appointments] ([AppointmentID], [DoctorID], [PatientID], [AppointmentTypeID], [AppointmentStatus], [CreatedDate], [LastStatusDate], [AppointmentDate], [AppointmentFees], [CreatedByUserID]) VALUES (3, 2, 1, 1, 3, CAST(N'2026-08-12T01:05:37.943' AS DateTime), CAST(N'2026-08-12T15:34:33.790' AS DateTime), CAST(N'2026-08-13T14:30:00.000' AS DateTime), 6.0000, 1)
SET IDENTITY_INSERT [dbo].[Appointments] OFF
GO
SET IDENTITY_INSERT [dbo].[AppointmentTypes] ON 

INSERT [dbo].[AppointmentTypes] ([AppointmentTypeID], [AppointmentTypeTitle], [AppointmentTypeFees], [IsActive]) VALUES (1, N'General Consulation', 6.0000, 1)
INSERT [dbo].[AppointmentTypes] ([AppointmentTypeID], [AppointmentTypeTitle], [AppointmentTypeFees], [IsActive]) VALUES (2, N'Follow-up', 0.0000, 1)
INSERT [dbo].[AppointmentTypes] ([AppointmentTypeID], [AppointmentTypeTitle], [AppointmentTypeFees], [IsActive]) VALUES (3, N'Medical Examination', 10.0000, 1)
SET IDENTITY_INSERT [dbo].[AppointmentTypes] OFF
GO
SET IDENTITY_INSERT [dbo].[Consultations] ON 

INSERT [dbo].[Consultations] ([ConsultationID], [AppointmentID], [ConsultationDate], [AdditionalFees], [Notes], [Diagnosis], [CreatedByUserID]) VALUES (1, 7, CAST(N'2026-08-24T00:10:08.080' AS DateTime), 0.0000, N'Nothing', NULL, 1)
INSERT [dbo].[Consultations] ([ConsultationID], [AppointmentID], [ConsultationDate], [AdditionalFees], [Notes], [Diagnosis], [CreatedByUserID]) VALUES (2, 8, CAST(N'2026-08-20T23:04:56.007' AS DateTime), 0.0000, N'kkkkkkk', N'jjjjjj', 1)
INSERT [dbo].[Consultations] ([ConsultationID], [AppointmentID], [ConsultationDate], [AdditionalFees], [Notes], [Diagnosis], [CreatedByUserID]) VALUES (3, 9, CAST(N'2026-08-21T17:03:25.153' AS DateTime), 0.0000, NULL, N'No things', 1)
SET IDENTITY_INSERT [dbo].[Consultations] OFF
GO
SET IDENTITY_INSERT [dbo].[Countries] ON 

INSERT [dbo].[Countries] ([CountryID], [CountryName]) VALUES (1, N'Afghanistan')
INSERT [dbo].[Countries] ([CountryID], [CountryName]) VALUES (2, N'Albania')
INSERT [dbo].[Countries] ([CountryID], [CountryName]) VALUES (3, N'Algeria')
GO
SET IDENTITY_INSERT [dbo].[Countries] OFF
GO
SET IDENTITY_INSERT [dbo].[Doctors] ON 

INSERT [dbo].[Doctors] ([DoctorID], [IsActive], [PersonID], [SpecialtyID], [CreatedDate], [CreatedByUserID]) VALUES (1, 1, 2, 1, CAST(N'2026-08-06T21:28:11.037' AS DateTime), 1)
INSERT [dbo].[Doctors] ([DoctorID], [IsActive], [PersonID], [SpecialtyID], [CreatedDate], [CreatedByUserID]) VALUES (2, 1, 3, 9, CAST(N'2026-08-06T22:01:52.447' AS DateTime), 1)
INSERT [dbo].[Doctors] ([DoctorID], [IsActive], [PersonID], [SpecialtyID], [CreatedDate], [CreatedByUserID]) VALUES (3, 1, 4, 10, CAST(N'2026-08-06T23:58:52.913' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[Doctors] OFF
GO
SET IDENTITY_INSERT [dbo].[DoctorSalaries] ON 

INSERT [dbo].[DoctorSalaries] ([SalaryID], [DoctorID], [Salary], [StartDate], [EndDate], [CreatedDate], [CreatedByUserID], [IsActive]) VALUES (1, 1, 12000.0000, CAST(N'2026-08-06T23:36:03.007' AS DateTime), NULL, CAST(N'2026-08-06T23:36:03.007' AS DateTime), 1, 1)
INSERT [dbo].[DoctorSalaries] ([SalaryID], [DoctorID], [Salary], [StartDate], [EndDate], [CreatedDate], [CreatedByUserID], [IsActive]) VALUES (2, 2, 8000.0000, CAST(N'2026-08-06T23:36:03.007' AS DateTime), NULL, CAST(N'2026-08-06T23:36:03.007' AS DateTime), 1, 1)
INSERT [dbo].[DoctorSalaries] ([SalaryID], [DoctorID], [Salary], [StartDate], [EndDate], [CreatedDate], [CreatedByUserID], [IsActive]) VALUES (3, 3, 9000.0000, CAST(N'2026-08-06T23:59:33.283' AS DateTime), CAST(N'2026-08-07T22:57:33.420' AS DateTime), CAST(N'2026-08-06T23:59:33.790' AS DateTime), 1, 0)
SET IDENTITY_INSERT [dbo].[DoctorSalaries] OFF
GO
SET IDENTITY_INSERT [dbo].[Medicines] ON 

INSERT [dbo].[Medicines] ([MedicineID], [MedicineName], [MedicineFees], [IsActive]) VALUES (1, N'Paracetamol', 2.5000, 1)
INSERT [dbo].[Medicines] ([MedicineID], [MedicineName], [MedicineFees], [IsActive]) VALUES (2, N'Ibuprofen', 3.5000, 1)
INSERT [dbo].[Medicines] ([MedicineID], [MedicineName], [MedicineFees], [IsActive]) VALUES (3, N'Amoxicillin M2', 5.0000, 1)
SET IDENTITY_INSERT [dbo].[Medicines] OFF
GO
SET IDENTITY_INSERT [dbo].[Patients] ON 

INSERT [dbo].[Patients] ([PatientID], [BloodType], [PersonID], [CreatedDate], [CreatedByUserID], [IsActive]) VALUES (1, N'+O', 2, CAST(N'2026-08-09T23:20:15.733' AS DateTime), 1, 0)
INSERT [dbo].[Patients] ([PatientID], [BloodType], [PersonID], [CreatedDate], [CreatedByUserID], [IsActive]) VALUES (2, N'+O', 3, CAST(N'2026-08-11T00:15:23.803' AS DateTime), 1, 0)
INSERT [dbo].[Patients] ([PatientID], [BloodType], [PersonID], [CreatedDate], [CreatedByUserID], [IsActive]) VALUES (3, N'+A', 5, CAST(N'2026-08-12T15:52:20.637' AS DateTime), 1, 0)
SET IDENTITY_INSERT [dbo].[Patients] OFF
GO
SET IDENTITY_INSERT [dbo].[People] ON 

INSERT [dbo].[People] ([PersonID], [NationalNo], [FirstName], [SecondName], [ThirdName], [LastName], [DateOfBirth], [Gender], [Phone], [NationalityCountryID], [Address], [ImagePath]) VALUES (2, N'0400402017', N'Mohammed', N'Ahmed', N'Moqble', N'Alhilali', CAST(N'2004-09-14T01:08:14.000' AS DateTime), 0, N'713784171', 191, N'Tiaz 33st', N'C:\CMS_People_Images\5cc65a2d-6bcd-40f2-b642-3df39477c15b.png')
INSERT [dbo].[People] ([PersonID], [NationalNo], [FirstName], [SecondName], [ThirdName], [LastName], [DateOfBirth], [Gender], [Phone], [NationalityCountryID], [Address], [ImagePath]) VALUES (3, N'0400344566', N'Burkan', N'Ahmed', N'Moqble', N'Nasr', CAST(N'1994-07-14T21:59:05.000' AS DateTime), 0, N'713428358', 191, N'Wadi_Alhagip 33st', N'C:\CMS_People_Images\4636f420-926d-49f6-b7ef-5482dcb1b957.jpg')
INSERT [dbo].[People] ([PersonID], [NationalNo], [FirstName], [SecondName], [ThirdName], [LastName], [DateOfBirth], [Gender], [Phone], [NationalityCountryID], [Address], [ImagePath]) VALUES (4, N'0422392923', N'Sami', N'Ahmed', N'Moqble', N'Nasr', CAST(N'1997-07-16T23:55:46.000' AS DateTime), 0, N'715790815', 191, N'Wadi_Alhajip', N'C:\CMS_People_Images\e75cbf7b-fb3a-44d1-b19e-0855856b562d.jpg')
SET IDENTITY_INSERT [dbo].[People] OFF
GO
SET IDENTITY_INSERT [dbo].[PrescriptionItems] ON 

INSERT [dbo].[PrescriptionItems] ([PrescriptionItemID], [ConsultationID], [MedicineID], [Duration], [DurationUnit], [Dosage], [PaidFees], [SpecialInstructions], [CreatedByUserID], [CreatedDate], [IsActive]) VALUES (1, 1, 9, 1, N'Day(s)', N'2 in', 3.5000, NULL, 1, CAST(N'2026-08-17T01:16:31.153' AS DateTime), 0)
INSERT [dbo].[PrescriptionItems] ([PrescriptionItemID], [ConsultationID], [MedicineID], [Duration], [DurationUnit], [Dosage], [PaidFees], [SpecialInstructions], [CreatedByUserID], [CreatedDate], [IsActive]) VALUES (2, 1, 50, 1, N'Week(s)', N'2 evry', 8.0000, N'1 In morning and 1 at night', 1, CAST(N'2026-08-17T01:35:27.960' AS DateTime), 1)
INSERT [dbo].[PrescriptionItems] ([PrescriptionItemID], [ConsultationID], [MedicineID], [Duration], [DurationUnit], [Dosage], [PaidFees], [SpecialInstructions], [CreatedByUserID], [CreatedDate], [IsActive]) VALUES (3, 1, 28, 1, NULL, NULL, 3.0000, NULL, 1, CAST(N'2026-08-17T01:39:45.003' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[PrescriptionItems] OFF
GO
SET IDENTITY_INSERT [dbo].[Specialties] ON 

INSERT [dbo].[Specialties] ([SpecialtyID], [SpecialtyName], [IsActive]) VALUES (1, N'General Medicine', 1)
INSERT [dbo].[Specialties] ([SpecialtyID], [SpecialtyName], [IsActive]) VALUES (2, N'Cardiology', 1)
INSERT [dbo].[Specialties] ([SpecialtyID], [SpecialtyName], [IsActive]) VALUES (3, N'Dermatology', 1)
SET IDENTITY_INSERT [dbo].[Specialties] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserID], [Password], [UserName], [PersonID], [CreatedDate], [CreatedByUserID], [IsActive]) VALUES (1, N'4c2c26adeff1675bb8ec6a2eb1c5f9e126cdf2db4ef1ac331f167679a1da6e76', N'Al-Hilali2', 2, CAST(N'2026-08-05T23:31:39.410' AS DateTime), 1, 1)
INSERT [dbo].[Users] ([UserID], [Password], [UserName], [PersonID], [CreatedDate], [CreatedByUserID], [IsActive]) VALUES (2, N'Burkan_Ahmed', N'Burkan_Alhilali', 3, CAST(N'2026-08-20T22:53:37.463' AS DateTime), 1, 1)
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Users_UserName]    Script Date: 9/5/2026 4:31:50 PM ******/
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [UQ_Users_UserName] UNIQUE NONCLUSTERED 
(
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Consultations] ADD  CONSTRAINT [DF_Consultations_AdditionalFees]  DEFAULT ((0)) FOR [AdditionalFees]
GO
ALTER TABLE [dbo].[Doctors] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[PrescriptionItems] ADD  CONSTRAINT [DF_PrescriptionItems_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [DF_Users_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Appointments]  WITH CHECK ADD  CONSTRAINT [FK_Appointment_Users] FOREIGN KEY([CreatedByUserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Appointments] CHECK CONSTRAINT [FK_Appointment_Users]
GO
ALTER TABLE [dbo].[Appointments]  WITH CHECK ADD  CONSTRAINT [FK_Appointments_AppointmentTypes] FOREIGN KEY([AppointmentTypeID])
REFERENCES [dbo].[AppointmentTypes] ([AppointmentTypeID])
GO
ALTER TABLE [dbo].[Appointments] CHECK CONSTRAINT [FK_Appointments_AppointmentTypes]
GO
ALTER TABLE [dbo].[Appointments]  WITH CHECK ADD  CONSTRAINT [FK_Appointments_Doctors] FOREIGN KEY([DoctorID])
REFERENCES [dbo].[Doctors] ([DoctorID])
GO
ALTER TABLE [dbo].[Appointments] CHECK CONSTRAINT [FK_Appointments_Doctors]
GO
ALTER TABLE [dbo].[Appointments]  WITH CHECK ADD  CONSTRAINT [FK_Appointments_Pateints] FOREIGN KEY([PatientID])
REFERENCES [dbo].[Patients] ([PatientID])
GO
ALTER TABLE [dbo].[Appointments] CHECK CONSTRAINT [FK_Appointments_Pateints]
GO
ALTER TABLE [dbo].[Consultations]  WITH CHECK ADD  CONSTRAINT [FK_Consultations_Appointments] FOREIGN KEY([AppointmentID])
REFERENCES [dbo].[Appointments] ([AppointmentID])
GO
ALTER TABLE [dbo].[Consultations] CHECK CONSTRAINT [FK_Consultations_Appointments]
GO
ALTER TABLE [dbo].[Consultations]  WITH CHECK ADD  CONSTRAINT [FK_Consultations_Users] FOREIGN KEY([CreatedByUserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Consultations] CHECK CONSTRAINT [FK_Consultations_Users]
GO
ALTER TABLE [dbo].[Doctors]  WITH CHECK ADD  CONSTRAINT [FK_Doctors_People] FOREIGN KEY([PersonID])
REFERENCES [dbo].[People] ([PersonID])
GO
ALTER TABLE [dbo].[Doctors] CHECK CONSTRAINT [FK_Doctors_People]
GO
ALTER TABLE [dbo].[Doctors]  WITH CHECK ADD  CONSTRAINT [FK_Doctors_Specialties] FOREIGN KEY([SpecialtyID])
REFERENCES [dbo].[Specialties] ([SpecialtyID])
GO
ALTER TABLE [dbo].[Doctors] CHECK CONSTRAINT [FK_Doctors_Specialties]
GO
ALTER TABLE [dbo].[Doctors]  WITH CHECK ADD  CONSTRAINT [FK_Doctors_Users] FOREIGN KEY([CreatedByUserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Doctors] CHECK CONSTRAINT [FK_Doctors_Users]
GO
ALTER TABLE [dbo].[DoctorSalaries]  WITH CHECK ADD  CONSTRAINT [FK__DoctorSal__Creat__45BE5BA9] FOREIGN KEY([CreatedByUserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[DoctorSalaries] CHECK CONSTRAINT [FK__DoctorSal__Creat__45BE5BA9]
GO
ALTER TABLE [dbo].[DoctorSalaries]  WITH CHECK ADD  CONSTRAINT [FK__DoctorSal__Docto__44CA3770] FOREIGN KEY([DoctorID])
REFERENCES [dbo].[Doctors] ([DoctorID])
GO
ALTER TABLE [dbo].[DoctorSalaries] CHECK CONSTRAINT [FK__DoctorSal__Docto__44CA3770]
GO
ALTER TABLE [dbo].[Patients]  WITH CHECK ADD  CONSTRAINT [FK_Patients_Users] FOREIGN KEY([CreatedByUserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Patients] CHECK CONSTRAINT [FK_Patients_Users]
GO
ALTER TABLE [dbo].[People]  WITH CHECK ADD  CONSTRAINT [FK_People_Countries] FOREIGN KEY([NationalityCountryID])
REFERENCES [dbo].[Countries] ([CountryID])
GO
ALTER TABLE [dbo].[People] CHECK CONSTRAINT [FK_People_Countries]
GO
ALTER TABLE [dbo].[PrescriptionItems]  WITH CHECK ADD  CONSTRAINT [FK_PrescriptionItems_Consultations] FOREIGN KEY([ConsultationID])
REFERENCES [dbo].[Consultations] ([ConsultationID])
GO
ALTER TABLE [dbo].[PrescriptionItems] CHECK CONSTRAINT [FK_PrescriptionItems_Consultations]
GO
ALTER TABLE [dbo].[PrescriptionItems]  WITH CHECK ADD  CONSTRAINT [FK_PrescriptionItems_Medicines] FOREIGN KEY([MedicineID])
REFERENCES [dbo].[Medicines] ([MedicineID])
GO
ALTER TABLE [dbo].[PrescriptionItems] CHECK CONSTRAINT [FK_PrescriptionItems_Medicines]
GO
ALTER TABLE [dbo].[PrescriptionItems]  WITH CHECK ADD  CONSTRAINT [FK_PrescriptionItems_Users] FOREIGN KEY([CreatedByUserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[PrescriptionItems] CHECK CONSTRAINT [FK_PrescriptionItems_Users]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_People] FOREIGN KEY([PersonID])
REFERENCES [dbo].[People] ([PersonID])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_People]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Appointments', @level2type=N'COLUMN',@level2name=N'AppointmentTypeID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Scheduled=1,Completed=2,Cancelled=3,NoShow=4' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Appointments', @level2type=N'COLUMN',@level2name=N'AppointmentStatus'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'0=Male,1=Female' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'People', @level2type=N'COLUMN',@level2name=N'Gender'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "Appointments"
            Begin Extent = 
               Top = 9
               Left = 57
               Bottom = 206
               Right = 323
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "Consultations"
            Begin Extent = 
               Top = 207
               Left = 57
               Bottom = 404
               Right = 298
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "Doctors"
            Begin Extent = 
               Top = 405
               Left = 57
               Bottom = 602
               Right = 294
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "DocPeople"
            Begin Extent = 
               Top = 603
               Left = 57
               Bottom = 800
               Right = 327
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "Patients"
            Begin Extent = 
               Top = 801
               Left = 57
               Bottom = 998
               Right = 294
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "PatPeople"
            Begin Extent = 
               Top = 999
               Left = 57
               Bottom = 1196
               Right = 327
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "AppointmentTypes"
            Begin Extent = 
               Top = 1197
               Left = 57
               Bottom = 1394
               Right = 340
            End
     ' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Consultation_View'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane2', @value=N'       DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Consultation_View'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=2 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Consultation_View'
GO
USE [master]
GO
